@media (max-width: 800px) {
  .versao-desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin: 0 auto !important;
  }
  .video-background {
    display: block;
    position: relative;
    padding-top: 125%;
  }
  .video-background iframe {
    margin-top: -10px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    position: relative;
    z-index: 1;
    margin-top: -150px;
    height: 150px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.812937675070028) 47%,
      rgba(0, 0, 0, 0.48800770308123254) 75%,
      rgba(0, 0, 0, 0) 98%
    );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .content p {
    text-align: center;
    font-family: "Sora-Medium";
    color: #fff;
  }
  .content p:last-child {
    margin-top: 12px;
    color: #cfff00;
  }
  .logo {
    width: 230px;
    margin-bottom: 12px;
  }
  #play {
    display: none;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    height: 80px;
  }
  .content-2 {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
